:root {
    --blue:#007bff;--indigo:#6610f2;--purple:#6f42c1;--pink:#e83e8c;--red:#dc3545;--orange:#fd7e14;--yellow:#ffc107;--green:#28a745;--teal:#20c997;--cyan:#17a2b8;--white:#fff;--gray:#6c757d;--gray-dark:#343a40;--primary:#007bff;--secondary:#6c757d;--success:#28a745;--info:#17a2b8;--warning:#ffc107;--danger:#dc3545;--light:#f8f9fa;--dark:#343a40;--breakpoint-xs:0;--breakpoint-sm:576px;--breakpoint-md:768px;--breakpoint-lg:992px;--breakpoint-xl:1200px;--font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace}

*,::after,::before {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

article,aside,figcaption,figure,footer,header,hgroup,main,nav,section {
    display: block
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

dl,ol,ul {
    margin-top: 0;
    margin-bottom: 1rem
}

b,strong {
    font-weight: bolder
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: #0056b3;
    text-decoration: underline
}

img {
    vertical-align: middle;
    border-style: none
}

button {
    border-radius: 0
}

button,input,optgroup,select,textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

[type=button],[type=reset],[type=submit],button {
    -webkit-appearance: button
}

[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled) {
    cursor: pointer
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}

.h1,h1 {
    font-size: 2.5rem
}

.h2,h2 {
    font-size: 2rem
}

.h3,h3 {
    font-size: 1.75rem
}

.h4,h4 {
    font-size: 1.5rem
}

.h5,h5 {
    font-size: 1.25rem
}

.lead {
    font-size: 1.25rem;
    font-weight: 300
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 576px) {
    .container {
        max-width:540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width:720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width:960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width:1140px
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.no-gutters {
    margin-right: 0;
    margin-left: 0
}

.no-gutters>.col,.no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0
}

.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%
}

.col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

     .col-md-5 {
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-md-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
    }

    .col-md-10 {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%
    }

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%
    }

    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-lg-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }

    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-lg-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
    }

    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

     .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%
    }

    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-xl-5 {
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%
    }

    .col-xl-7 {
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%
    }

    .offset-xl-0 {
        margin-left: 0
    }

    .btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.btn-group-sm>.btn,.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem
}

.nav-link {
    display: block;
    padding: .5rem 1rem
}

.nav-link:focus,.nav-link:hover {
    text-decoration: none
}

.bg-primary {
    background-color: #007bff!important
}

.bg-secondary {
    background-color: #6c757d!important
}

.border-bottom-0 {
    border-bottom: 0!important
}

.d-none {
    display: none!important
}

@media (min-width: 992px) {
    .d-lg-flex {
        display: flex!important
    }
}

.justify-content-end {
    justify-content: flex-end!important
}

.justify-content-center {
    justify-content: center!important
}

.justify-content-between {
    justify-content: space-between!important
}

.align-items-center {
    align-items: center!important
}

.mr-2,.mx-2 {
    margin-right: .5rem!important
}

.pb-0,.py-0 {
    padding-bottom: 0!important
}

.text-center {
    text-align: center!important
}

@media (min-width: 992px) {
    .text-lg-left {
        text-align:left!important
    }

    .text-lg-right {
        text-align: right!important
    }
}

.far {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400
}

.fa,.fab,.fal,.far,.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1
}

.fa-paper-plane:before {
    content: "\f1d8"
}

[class*=" ti-"],[class^=ti-] {
    font-family: themify;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ti-user:before {
    content: "\e602"
}

.ti-search:before {
    content: "\e610"
}

.ti-bookmark-alt:before {
    content: "\e618"
}

.ti-reload:before {
    content: "\e619"
}

.ti-pencil-alt:before {
    content: "\e61d"
}

.ti-layout:before {
    content: "\e62e"
}

.ti-layers:before {
    content: "\e62f"
}

.ti-bag:before {
    content: "\e655"
}

.ti-notepad:before {
    content: "\e67c"
}

.ti-clipboard:before {
    content: "\e6b4"
}

.ti-basketball:before {
    content: "\e6b9"
}

.ti-twitter:before {
    content: "\e72a"
}

.ti-pinterest:before {
    content: "\e731"
}

.ti-facebook:before {
    content: "\e741"
}

.ti-dropbox:before {
    content: "\e742"
}

body,html {
    font-family: Roboto,sans-serif;
    color: #131313;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow-x: hidden;
    min-width: 320px
}

@media (min-width: 576px) {
    body,html {
        font-size:16px;
        line-height: 1.6;
        font-weight: 400
    }
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section {
    display: block
}

ol,ul {
    list-style: none
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    color: #131313;
    font-weight: 700;
    font-family: Poppins,sans-serif;
    line-height: 1.3;
    margin-bottom: .5rem
}

.h1:last-child,.h2:last-child,.h3:last-child,.h4:last-child,.h5:last-child,.h6:last-child,h1:last-child,h2:last-child,h3:last-child,h4:last-child,h5:last-child,h6:last-child {
    margin-bottom: 0
}

.tc-light .h1,.tc-light .h2,.tc-light .h3,.tc-light .h4,.tc-light .h5,.tc-light .h6,.tc-light h1,.tc-light h2,.tc-light h3,.tc-light h4,.tc-light h5,.tc-light h6 {
    color: #fff
}

p {
    margin-bottom: 1rem
}

p:last-child {
    margin-bottom: 0
}

ol,table,ul {
    margin: 0;
    padding: 0
}

b,strong {
    font-weight: 700
}

a,button {
    outline: 0 none;
    transition: all .5s;
    color: #ff4157
}

a:link,a:visited,button:link,button:visited {
    text-decoration: none
}

a:active,a:focus,a:hover,button:active,button:focus,button:hover {
    outline: 0;
    color: #ff4157
}

img {
    max-width: 100%;
    height: auto
}

.fz-1,.h1,h1 {
    font-size: 1.375rem
}

.fz-2,.h2,h2 {
    font-size: 1.375rem
}

.fz-3,.h3,h3 {
    font-size: 1.125rem
}

.fz-4,.h4,h4 {
    font-size: 1.125rem;
    line-height: 1.667
}

.fz-5,.h5,h5 {
    font-size: 1rem
}

@media (min-width: 479px) {
    .fz-1,.h1,h1 {
        font-size:1.75rem
    }

    .fz-2,.h2,h2 {
        font-size: 1.375rem
    }

    .fz-3,.h3,h3 {
        font-size: 1.25rem
    }

    .fz-4,.h4,h4 {
        font-size: 1.125rem;
        line-height: 1.667
    }

    .fz-5,.h5,h5 {
        font-size: 1rem
    }
}

.lead {
    font-weight: 400
}

@media (min-width: 576px) {
    .fz-2,.h2,h2 {
        font-size:1.875rem;
        line-height: 1.533
    }

    .fz-3,.h3,h3 {
        font-size: 1.5rem
    }

    .fz-4,.h4,h4 {
        font-size: 1.125rem;
        line-height: 1.333
    }

    .fz-5,.h5,h5 {
        font-size: .875rem
    }
}

@media (min-width: 992px) {
    .fz-1,.h1,h1 {
        font-size:2.25rem
    }
}

.has-bg,.has-bg-image,.has-bg-video,.has-ovm,.nk-df-rel,[class*=bg-] {
    position: relative
}

.has-bg-image>[class*=container],.has-bg-video>[class*=container],.has-ovm>:not(.nk-ovm):not(.header-main):not(.nk-header),.has-ovm>[class*=container],.nk-df-over-up {
    position: relative;
    z-index: 5
}

.bg-image,.bg-video,.bg-video-cover,.nk-df-around,.overlay:after {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0
}

.bg-image,.bg-video,.bg-video-cover,.has-bg,.nk-df-bg,[class*=bg-] {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%
}

.gutter-vr-30px {
    margin-top: -15px!important;
    margin-bottom: -15px!important
}

.gutter-vr-30px>div,.gutter-vr-30px>li {
    padding-top: 15px!important;
    padding-bottom: 15px!important
}

.gutter-vr-40px {
    margin-top: -20px!important;
    margin-bottom: -20px!important
}

.gutter-vr-40px>div,.gutter-vr-40px>li {
    padding-top: 20px!important;
    padding-bottom: 20px!important
}

.gutter-vr-30px-res {
    margin-top: -15px!important;
    margin-bottom: -15px!important
}

.gutter-vr-30px-res>div,.gutter-vr-30px-res>li {
    padding-top: 15px!important;
    padding-bottom: 15px!important
}

@media (min-width: 1200px) {
    .gutter-vr-30px {
        margin-top: -15px!important;
        margin-bottom: -15px!important
    }

    .gutter-vr-30px>div,.gutter-vr-30px>li {
        padding-top: 15px!important;
        padding-bottom: 15px!important
    }

    .gutter-vr-40px {
        margin-top: -20px!important;
        margin-bottom: -20px!important
    }

    .gutter-vr-40px>div,.gutter-vr-40px>li {
        padding-top: 20px!important;
        padding-bottom: 20px!important
    }
}

.fw-4 {
    font-weight: 400!important
}

.has-bg-image>div,.has-bg-video>div {
    position: relative;
    z-index: 1
}

.bg-fixed {
    background-attachment: fixed
}

.bg-image {
    position: absolute!important;
    z-index: 0!important;
    opacity: 0;
    transition: opacity .4s
}

.bg-image.bg-image-loaded {
    opacity: 1
}

.bg-image img {
    display: none!important
}

[class*=overlay-],[class*=overlay] {
    position: relative
}

[class*=overlay-]::after,[class*=overlay]::after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    left: 0;
    top: 0
}

.tc-light p {
    color: #fff!important
}

.tc-light h1,.tc-light h2,.tc-light h3,.tc-light h4,.tc-light h5,.tc-light h6 {
    color: #fff!important
}

.tc-grey {
    color: #4b4b4b!important
}

.tc-grey-alt {
    color: #4a4a4a!important
}

.bg-primary {
    background-color: #ff4157!important
}

.bg-darker {
    background-color: rgba(28,30,41,.9)
}

.bg-secondary {
    background-color: #ecf6fa!important
}

.bg-dark-s2 {
    background: #1c1e29
}

.bg-dark-alt {
    background: #0a1015
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.6
}

.tc-light {
    color: #fff
}

@media (min-width: 576px) {
    .lead {
        font-size:1.25rem;
        line-height: 1.5
    }
}

@media (min-width: 992px) {
    .lead {
        font-size:1.5rem
    }
}

.pb-0 {
    padding-bottom: 0
}

.mr-2 {
    margin-right: 2px
}

@media (min-width: 992px) {
    .mrm-4 {
        margin-right: -4px
    }
     .mrm-20 {
        margin-right: -20px
    }
    .mtm-15 {
        margin-top: -15px!important
    }
}

.btn {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    font-family: Poppins,sans-serif;
    color: #fff;
    background: #ff4157;
    text-transform: uppercase;
    border-radius: 0;
    display: inline-block;
    padding: 10px 20px;
    transition: all ease .5s;
    outline-style: none;
    min-width: 120px
}

.bg-primary .btn {
    background: #fff;
    color: #ff4157
}


.btn-sm {
    padding: 10px 20px
}

.btn-arrow {
    font-size: 14px;
    color: #ff4157;
    font-weight: 600;
    background: 0 0;
    border-color: #e5e5e5;
    text-transform: capitalize;
    border: none;
    position: relative;
    min-width: auto;
    padding: 0
}

.btn-arrow::after {
    position: static;
    content: "\e661";
    font-family: themify;
    font-size: 11px;
    transition: all ease-in .3s;
    margin-left: 6px;
    display: inline-block;
    transform: translateX(0)
}

@media (min-width: 992px) {
    .btn {
        padding:13px 30px 14px
    }

    .btn-sm {
        padding: 12px 25px
    }

    .btn-arrow {
        padding: 0
    }
}

.text-box {
    line-height: .8
}

.text-box h2 {
    color: #131313;
    margin-bottom: 10px
}

.text-box p:not(.lead) {
    line-height: 1.625
}

.text-box p:last-child {
    margin-bottom: 0
}

.text-block h2 {
    margin-bottom: 13px
}

.text-block h2+.lead {
    margin-top: 13px;
    margin-bottom: 0
}

.text-block h2+p {
    margin-top: -7px
}

.text-block p+p {
    margin-top: 10px;
    margin-bottom: 0
}

.text-block p {
    margin-bottom: 0
}

.text-block p+.btn {
    margin-top: 23px
}

@media (min-width: 992px) {
    .text-box-ml {
        margin-left:15px
    }
}

@media (min-width: 1200px) {
    .text-block h2+.lead {
        margin-top:13px;
        margin-bottom: 0
    }

    .text-block p+p {
        margin-top: 10px;
        margin-bottom: 0
    }

    .text-block p+.btn {
        margin-top: 23px
    }
}

.heading-xs {
    font-size: 14px;
    font-weight: 500;
    font-family: Poppins,sans-serif;
    color: #131313;
    text-transform: uppercase;
    margin-bottom: 13px;
    letter-spacing: 1.4px;
    line-height: .8
}

.tc-grey-alt .heading-xs,.tc-light-dark .heading-xs {
    color: inherit
}

.tc-grey-alt .heading-xs {
    color: #4b4b4b
}

.bg-darker .heading-xs,.tc-light .heading-xs {
    color: rgba(255,255,255,.7)!important
}

.dash {
    padding-left: 35px;
    padding-right: 35px;
    position: relative;
    display: inline-block
}

.dash::after,.dash::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 2px;
    background: #ff4157;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0
}

.dash::after {
    left: auto;
    right: 0
}

.dash-both {
    padding-right: 35px;
    padding-left: 35px
}

.dash-both::after {
    left: auto;
    right: 0
}

@media (min-width: 768px) {
    .dash::after {
        left:0;
        right: auto
    }

    .dash-both::after {
        left: auto;
        right: 0
    }
}

.section-head {
    margin-bottom: 38px;
    line-height: .8
}

.section-head .heading-xs {
    margin-bottom: 13px
}

.section-head h2 {
    margin-bottom: 15px
}

.section-head p+a {
    margin-top: 10px
}

.section-head p {
    line-height: 1.6
}

.section-head-col {
    padding-bottom: 0;
    margin-bottom: 15px
}

.section-head-col h2 {
    margin-bottom: 0
}

.section-head-col h2+p {
    padding-top: 11px
}

.section-head-col p+.btn {
    margin-top: 4px
}

@media (min-width: 992px) {
    .section-head {
        margin-bottom:30px
    }

    .section-head p+a {
        margin-top: 10px
    }

    .section-head-col {
        margin-bottom: 0
    }

    .section-head-col {
        margin-bottom: 33px
    }

    .section-sm {
        margin-bottom: 50px
    }
}

.preloader {
    position: fixed!important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000
}

.icon {
    color: #ff4157
}

.header-box {
    position: relative
}

.header-main {
    padding: 12px 0;
    transition: all .4s;
    position: absolute;
    width: 100%;
    z-index: 9;
    left: 0
}

.header-s1 .header-main {
    background: #fff
}

.is-boxed .header-main {
    padding: 12px 15px;
    z-index: 9
}

.header-wrap {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
}

.header-logo {
    margin: 6px 0;
    flex-shrink: 0
}

.header-navbar {
    position: fixed;
    left: -280px;
    top: 0;
    width: 260px;
    height: 100vh
}

.header-navbar-overlay,.header-navbar::before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    top: 0
}

.header-navbar::before {
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
    transition: all .4s
}

.header-navbar-overlay {
    background: rgba(18,27,34,.7);
    left: 100%;
    width: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;
    transition-delay: .2s
}

.header-menu {
    justify-content: flex-end;
    padding: 30px 25px
}

.banner {
    min-height: 72px
}

.is-boxed .banner {
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width: 375px) {
    .header-navbar:not(.header-navbar-classic) {
        left:-310px;
        width: 290px
    }
}


@media (min-width: 576px) {
    .header-navbar:not(.header-navbar-classic) {
        left:-360px;
        width: 340px
    }

    .is-boxed .header-main {
        padding: 12px 40px
    }

    .is-boxed .banner {
        padding-left: 40px;
        padding-right: 40px
    }
}

.logo img {
    height: 36px;
    transition: all .4s
}

@media (min-width: 992px) {
    .header-navbar:not(.header-navbar-classic) {
        height:auto;
        width: auto;
        left: 0
    }

    .header-main {
        padding: 20px 0
    }

    .is-boxed .header-main {
        padding: 12px 40px
    }

    .header-nav-toggle {
        display: none
    }

    .is-boxed .header-box .banner {
        padding: 0 40px
    }

    .logo img {
        height: 40px
    }

}

@media (min-width: 1200px) {
    .logo img {
        height:60px
    }
}

.header-menu {
    max-height: 100vh;
    overflow: hidden;
    overflow-y: auto
}

.header-nav-toggle {
    height: 44px
}

@media (min-width: 1280px) {
    .header-main {
        padding:20px 0
    }

    .is-boxed .header-main {
        padding: 20px 40px
    }

    .is-boxed .header-box .banner {
        padding: 0 40px
    }
}

.menu {
    padding: 12px 0
}

.menu-btns {
    margin-bottom: 26px;
    margin-top: -10px;
    padding-top: 10px;
    display: flex;
    position: relative
}

.menu-btns::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 1px;
    height: 18px;
    background: #e5e5e5;
    margin: auto 0;
    top: 0;
    display: none
}

.menu-btns>li {
    padding: 0
}

.menu-btns>li a {
    padding: 12px 15px
}

.menu-item {
    position: relative;
    border-bottom: 1px solid rgba(219,228,247,.75)
}

.menu-item:last-child {
    border-bottom: 0
}

.menu-item a {
    font-family: Poppins,sans-serif;
    font-size: 14px;
    line-height: 16.8px;
    color: #131313;
    padding: 12px 0;
    display: block;
    position: relative;
    font-weight: 600
}

.menu-item a.active,.menu-item a:hover {
    color: #ff4157
}

.menu-item>a.active {
    color: #ff4157
}

@media (min-width: 576px) {
    .menu-btns::before {
        display:block
    }

    .menu-btns>li a {
        padding: 12px 22px
    }

}

@media (min-width: 1200px) {
    .menu-item>a {
        padding:30px 18px
    }
}

.section {
    position: relative;
    width: 100%;
    padding-top: 45px;
    padding-bottom: 45px
}